#mainproduct{
    display: flex;
    width: 100%;
}
/* filter section */
#filters{
    width: 13%;
    display: block;
    padding: 10px 20px;
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
}
#heading{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
h5{
padding: 7px 0; 
}

#filters>div>div{
    padding: 5px 0;
    font-size: 14px; 
}
#filters>div>div>input{
    margin-right: 7px;
    cursor: pointer;
}
#filters>div>div>label{
    cursor: pointer;
}

#mensfilter, #womensfilter, #kidsfilter{
    accent-color:#ff3f6c;
}

#brandfilter>div>input{
    width: 15px;
    height: 15px;
    margin-top: 4px;
    accent-color:#ff3f6c;
}
#pricefilter>div>input{
    width: 15px;
    height: 15px;
    margin-top: 4px;
    accent-color:#ff3f6c;
}
#productdata{
    width: 87%;
}

#sortbuttondiv{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-bottom:1px solid rgb(247, 247, 247);
}

#sortbox{
    display: flex;
    border: 1px solid rgb(194, 194, 194);
    width: 220px;
    height: 30px;
    padding: 0 10px;
    margin: 10px 20px 0 0;
}
#sortbox>p{
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sortfun{
    border: none;
    width: 70%;
    font-size: 16px;
    outline: none;
    font-weight: 500;
    
}
#sortfun *{
    padding: 5px;
    background-color: #dfd4d6;
}

/* product boxes */
#products{
    display: grid;
    grid-template-columns: repeat(5, 5fr);
    gap: 40px;
    padding: 30px;
}

.maindivproduct{
    height: 350px;
    transition: .5s linear;
}
.maindivproduct:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
}

.firstdiv{
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.pforrating{
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    bottom: 10px;
    left: 15px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 2px;
    padding: 1px 3px;
}
.pforrating>span, .pforrating>svg{
    margin-left: 3px;
    margin-right: 3px;
}

.buttondiv{
    width: 100%;
    border: none;
    height: 30px;
    display: flex;
}

.whishlistbtn{
    width: 50%;
    height: 100%;
    border: none;
    background-color: white;
    transition: .5s linear;
}
.whishlistbtn:hover{
    border: 1px solid rgb(204, 204, 204);
    cursor: pointer;
}
.whishlistbtn>p{
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.whishlistbtn>p>svg{
    margin-right: 3px;
}
.addbtn{
    width: 50%;
    height: 100%;
    border: none;
    background-color: #f87e9a;
    transition: .5s linear;
}
.addbtn:hover{
    cursor: pointer;
    background-color: #ff3f6c;
}
.addbtn>p{
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brandname{
    font-weight: 700;
    font-size: 15px;
    padding: 3px 0 0 10px;
}
.subtitle{
    font-weight: 500;
    font-size: 12px;
    padding: 1px 0 0 10px;
}

.price{
    padding: 3px 0 0 10px;
    font-size: 14px; 
    font-weight: 600;
}
.price>:first-child{
    padding: 0 3px;
    font-size: 12px; 
    color: gray;
    text-decoration: line-through;
}
.price>:last-child{
    font-size: 12px; 
    color: #ff3f6c;
}



