@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

*, body{
    padding: 0;
    margin: 0;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

#crousel{
    width: 100vw;
    padding-top: 20px;
}
#crousel>img{
    width: 100%;
    cursor: pointer;
}
h4{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 20px 0 20px 30px;
    max-height: 5em;
    font-weight: 700;
}

.oneliner{
    display: grid;
    grid-template-columns: repeat(8, 8fr);
}
.oneliner>img{
    width: 100%;
    cursor: pointer;
}
#twoliner{
    display: grid;
    grid-template-columns: repeat(8, 8fr);
    gap: 4px;
}
#twoliner>img{
    width: 100%;
    cursor: pointer;
}
#onelinerseven{
    display: grid;
    grid-template-columns: repeat(7, 7fr);
}
#onelinerseven>img{
    width: 100%;
    cursor: pointer;
}
#categoryliner{
    display: grid;
    grid-template-columns: repeat(8, 8fr);
}
#categoryliner>img{
    width: 100%;
    cursor: pointer;
}
#topbrand{
    display: grid;
    grid-template-columns: repeat(8, 8fr);
}
#topbrand>img{
    width: 100%;
    cursor: pointer;
}
#bestbuy{
    display: grid;
    grid-template-columns: repeat(8, 8fr);
}
#bestbuy>img{
    width: 100%;
    cursor: pointer;
}
.four{
    display: grid;
    grid-template-columns: repeat(4, 4fr);
}
.four>img{
    width: 100%;
    cursor: pointer;
}