@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

*, body{
    padding: 0;
    margin: 0;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

/* navbar main div */
#navbar{
    height: 60px;
    width: 95vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
/* navbar logo and menus */
#navleft{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav_logo{
    height: 60px;
}
#nav_logo>img{
    height: 100%;
}
#nav_menu_title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.menutitles{
    height: 58px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 7px;
}
.menutitles>a{
    margin-top: 15px;
    padding: 0 10px;
    text-decoration: none;
    font-size: 14px;
    color: #282c3f;
    letter-spacing: .3px;
    transition: left .2s ease-out,width .2s ease-out;
    font-weight: 700;
}
#studionewspan{
    position: relative;
    bottom: 5px;
    padding-left: 5px;
    font-size: 12px;
    text-decoration: none;
    color: #ff3f6c;
    font-weight: 600;
}
/* #menstitle{
    border-bottom: 2px solid #282c3f;
} */
#homenlivingdropdowndiv, #beautydropdowndiv, #womendropdowndiv, #kidsdropdowndiv, #studiodropdowndiv, #mensdropdowndiv{
    position: absolute;
    visibility: hidden;
    top: 60px;
}


/* user search and profile section in navbar */
#navright{
    display: flex;
}
#nav_profile{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#nav_profile>div{
    padding:10px;
}
#nav_profile>div>:last-child{
    font-size: 12px;
    font-weight: 700;
}
#nav_search{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#nav_search_innerdiv{
    margin-right: 15px;
    height: 40px;
    display: flex;
    background-color: #f5f5f6;
    border-radius: 5px;
}
#serachbutton{
    display: flex;
    padding: 20px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#serachbutton:hover{
    cursor: pointer;
    background-color: #d3d3d3;
}
#searchinputbox{
    align-items: center;
    padding: 20px 10px;
    outline: none;
    width: 250px;
    border: none;
    background-color: #f5f5f6;
    border-radius: 5px;
}
#searchinputbox{
    align-items: center;
    padding: 20px 10px;
    outline: none;
    width: 250px;
    border: none;
    background-color: #f5f5f6;
    border-radius: 5px;
}
#searchinputbox:focus{
    padding: 19px 9px;
    border: 1px solid #f5f5f6;
    background-color: #ffffff;
}


